@import "tailwindcss";

:root {
  --background: #2477B0;
  --secondcolor : #ffa600;
  --hoversecond : #ffbe46;
 
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



a {
  color: white;
  font-size:medium
}


.button-signout {
  color:white;
  background-color: red;

  padding: 20px;
  text-align: center;
  
}

.button-signout:hover{
  background-color:  rgb(255, 67, 67);
  cursor: pointer;
}


.submit-button {
    color:white;
  background-color: var(--secondcolor);

  padding: 10px;
  text-align: center;
}




.submit-button:hover {
background-color: var(--hoversecond);
cursor: pointer;
}





.div-input {

  padding: 10px;
  display: flex;
  flex-direction: column;
  

}




.div-input label{
  color: white;
}


.div-input input {
  color:white;
  width: 300px; ;
  height: 50px;
  border-width: 2px;
  border-color: white;
    padding: 10px;

}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}

.mini-href {
  font-size: small;
  text-decoration: underline;
}
.title {
  

font-size: xx-large;
font-weight: bold;
color: white;
}